body{

    margin: 0px;
    padding: 0px;
    background-image: url("/image/DB.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.DB{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: solid;
    font-family: 'Oswald', sans-serif;
}

.ta{
    margin: 0px ;
    width: 230px ;
    height: 34px;
}

#B {

    background-color: #33FF00;
     height: 40px;
     width: 80px;
     border-radius: 25px;
     border: 0px;
}