body{

    background-image: url("../image/Confirm.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
}

h1{

    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    background-color: white;
}

h2{

    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    background-color: white;

}

p{

    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    background-color: blanchedalmond;
}