body{

    margin: 0px;
    padding: 0px;
    background-image: url("../image/rate2.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.top

 {

    text-align: center;

    font-size: 24px;
    font-family: 'Roboto Slab', serif;
 }


 .review{

    text-align: center;

    font-size: 24px;

    font-family: 'Roboto Slab', serif;
    
    font-weight: 1500;
     
    color: #33FF00 ;
 }

 #a {

    background-color: #33FF00;
    height: 40px;
    width: 80px;
    border-radius: 25px;
    border: 0px;
 }